@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.saving-plans-container {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    width: 100%;
    font-family: "Noto Sans", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.category-items-style > h1 {
    padding-top: 10px !important;
    font-size: 15px !important;
    color: white !important;
    text-align: center;
    font-weight: 600;
  }
  

.totalsaving-heading{
    font-size: 19px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
    background-color: rgb(237, 248, 255);
}

.header h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #888;
    margin: 0;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px;
}

.plans-list {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    flex-wrap: wrap;
}

.saving-plan-top-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.creating-pot-container-savingplan{
    cursor: pointer;
      border: 4px solid #e4ecfc;
      padding: 40px;
      width: 150px;
      height: 150px;
      background-color: #380080;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: border-color 0.3s;
}

.creating-pot-container-savingplan > i {
    padding: 15px;
    font-size: 27px;
    color: rgb(253, 241, 241);
  }
  .creating-pot-container-savingplan > p{
    padding-top: 5px !important;
    font-size: 16px !important;
    color: white !important;
    text-align: center;
    font-weight: 900;
  }

.plan-card {
    flex: 1 1 30%;
    min-width: 30%;
    max-width: 460px;
    border: 1px dashed #d1d1d1;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    text-align: center;
}

.category-items-style-plans > span > i{
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 10px;
}

.category-items-style-plans > h1{
    color: white;
    font-weight: 900;
    margin-top: 10px;
}

.saving-plan-top-right-container{
    margin-left: 5%;
    display: block;
    width: 100%;
    margin-top: 4%;
}

.plan-icon {
    font-size: 2rem;
    margin-bottom: 0.625rem;
}

.plan-details {
    text-align: left;
    margin: 0;
}

.plan-details h4 {
    font-size: 1.1rem;
    margin: 0;
    font-weight: 500;
}

.plan-details > p {
    margin: 0;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 9px;
}

.progress-bar {
    width: 100%;
    height: 0.9rem;
    background-color: #e0e0e0;
    border-radius: 5rem;
    overflow: hidden;
    margin-bottom: 0.625rem;
    
}
.saving-active-deactive-heading{
    font-size: 18px;
    color: #888;
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
}
.progress {
    height: 100%;
    border-radius: 0.3125rem;
}

.progress-text-savingplan{
    font-weight: 600;
    text-align: center;
    margin-left: 0 !important;
    color: rgb(112, 112, 112);
}

.progress-text-savingplan-deduction{
    font-weight: 600;
    text-align: center;
    margin-left: 0 !important;
    font-size: 14px;
    color: rgb(112, 112, 112);
}

.current-amount {
    color: #323232;
    font-size: 22px;
    font-weight: 800;
}

.goal-amount {
    color: #888;
}

.savingplan-middle-border {
    padding: 20px 0 10px 0px;
}

.action-buttons-saving {
    display: flex;
    justify-content: space-between;
    margin-top: 0.625rem;
}

.add-money-btn, .delete-btn, .history-btn, .claim-amount {
    background-color: #E5EBF6;
    padding: 10px ;
    border: none;
    border-radius: 0.625rem;
    font-size: 1rem;
    color: rgb(66, 65, 65);
    font-family: "Noto Sans", sans-serif;
    transition: background-color 0.3s ease;
}
.target-achieved{
    display: flex;
    align-items: center;
   justify-content: space-around;
   gap: 110px;
}
.target-achieved > p{
    color: #00b929;
    font-weight: bold;
}
.target-achieved > button{
    background-color: #E5EBF6;
    padding: 10px ;
    border: none;
    border-radius: 0.625rem;
    font-size: 1rem;
    color: rgb(66, 65, 65);
    font-family: "Noto Sans", sans-serif;
    transition: background-color 0.3s ease;
}

.add-money-btn:hover {
    background-color: #00b929;
    color: #E5EBF6;
}

.add-money-btn:hover i {
    color: #E5EBF6;
}

.delete-btn:hover {
    background-color: #f72a2a;
    color: #E5EBF6;
}

.delete-btn:hover i {
    color: #E5EBF6;
}

.add-money-btn i {
    margin-right: 0.3125rem;
    color: #00b929;
}

.delete-btn i {
    margin-right: 0.3125rem;
    color: #f72a2a;
}

.history-btn:hover {
    background-color: rgb(29, 29, 252);
    color: white;
}
.no-saving-plan-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.no-saving-plan-container > h1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 2%;
}
.no-saving-plan-container > div{
    margin: auto;
}


@media (max-width: 1300px) {
    .plans-list {
        gap: 1rem;
    }
    .plan-card {
        width: 100%;
        min-width: 40%;
    }
    .add-money-btn, .delete-btn {
        font-size: 12px;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 808px) {
    .plans-list {
        flex-direction: column;
        gap: 1.25rem;
    }
    .saving-plans-container {
        width: 100%;
    }

    .plan-card {
        margin-bottom: 1.25rem;
        width: 100%;
        margin: auto;
    }
    
    .saving-plans-container {
        padding: 1rem;
    }
    .add-money-btn, .delete-btn {
        font-size: 12px;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 576px) {
    .plans-list {
        flex-direction: column;
        gap: 1.25rem;
    }

    .plan-card {
        width: 100%;
    }
    .plan-details h4 {
        font-size: 1.1rem;
        margin: 0;
        font-weight: 500;
    }
    .add-money-btn, .delete-btn {
        font-size: 12px;
        padding: 0.5rem 1rem;
    }

    .creating-pot-container-savingplan{
          width: 140px;
          height: 140px;
    }

    .plan-details {
        text-align: left;
        margin: 0;
    }
    
    .plan-details h4 {
        font-size: 1rem;
        margin: 0;
        font-weight: 500;
    }
    .current-amount {
        font-size: 20px;
        font-weight: 700;
    }

    .plan-icon {
        font-size: 1.5rem;
    }
    .progress-bar {
        height: 0.8rem;
    }
    .current-amount{
        font-size: 20px;
    }
    .header h4 {
        font-size: 0.875rem;
    }


    h3 {
        font-size: 1.1rem;
    }
}


@media (max-width: 430px) {
    .add-money-btn, .delete-btn, .history-btn {
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    .plan-card {
        padding: 0.75rem;
    }
    .no-saving-plan-container{
        margin-top: 50px;
    }
    .progress-text-savingplan {
        font-size: 15px;
    
    }
    
}


@media (max-width: 380px) {
    .add-money-btn, .delete-btn, .history-btn {
        font-size: 0.7rem;
        padding: 0.5rem;
    }

    .plan-card {
        padding: 0.75rem;
    }
}
