@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.saving-plans-container {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px; /* Ensures it's not too wide on larger screens */
    margin: auto;
    font-family: "Noto Sans", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #888;
    margin: 0;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px;
}

.plans-list {
    display: flex;
    gap: 1rem;
    margin-top: 1.25rem;
    flex-wrap: wrap; 
}

.plan-card {
    flex: 1 1 30%; 
    min-width: 250px;
    max-width: 370px;
    border: 1px dashed #d1d1d1;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
    text-align: center;
}

.plan-icon {
    font-size: 2rem;
    margin-bottom: 0.625rem;
}

.plan-details h4 {
    font-size: 1.1rem;
    margin-bottom: 0.625rem;
    font-weight: 500;
}

.progress-bar {
    width: 100%;
    height: 0.625rem;
    background-color: #e0e0e0;
    border-radius: 0.3125rem;
    overflow: hidden;
    margin-bottom: 0.625rem;
}

.progress {
    height: 100%;
    border-radius: 0.3125rem;
}

.current-amount {
    color: #00b929;
    font-weight: bold;
}

.goal-amount {
    color: #888;
}

.action-buttons-saving {
    display: flex;
    justify-content: space-between;
    margin-top: 0.625rem;
}

.add-money-btn, .delete-btn {
    background-color: #E5EBF6;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.625rem;
    font-size: 1rem;
    color: rgb(66, 65, 65);
    font-family: "Noto Sans", sans-serif;
    transition: background-color 0.3s ease;
}

.add-money-btn:hover {
    background-color: #00b929;
    color: #E5EBF6;
}

.add-money-btn:hover i {
    color: #E5EBF6;
}

.delete-btn:hover {
    background-color: #f72a2a;
    color: #E5EBF6;
}

.delete-btn:hover i {
    color: #E5EBF6;
}

.add-money-btn i {
    margin-right: 0.3125rem;
    color: #00b929;
}

.delete-btn i {
    margin-right: 0.3125rem;
    color: #f72a2a;
}


@media (max-width: 1024px) {
    .plans-list {
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .plans-list {
        flex-direction: column;
        gap: 1.25rem;
    }

    .plan-card {
        margin-bottom: 1.25rem;
    }
    
    .saving-plans-container {
        padding: 1rem;
    }
}

@media (max-width: 576px) {
    .add-money-btn, .delete-btn {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }

    .plan-icon {
        font-size: 1.5rem;
    }
}